<header>
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <i class="fa fa-car fa-4x" aria-hidden="true" id=logo-icon></i>
      <a href="/" class="brand-logo" id="logo">PARKR </a>
      <ul class="right hide-on-med-and-down" id="head-nav-links">
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>




<div class="row">

  <div class="col l3">
    <div class="card-panel hoverable">
      <h3>User Profile</h3>
      <p>
        <h4><i class="large material-icons">face</i><div id="userName">User Name</div></h4>
      </p>
      <p>
        <h5>Current Reservation:</h5>
        <div id="currentResDiv">Spot Detail</div>
      </p>
      <br>
      <a href="/">
        <button class="btn waves-effect waves-light" type="submit" name="action" id="extendButton">Extend Reservation
          <i class="material-icons right">add_circle</i>
        </button>
      </a>
      </br>
      <a href="/">
        <button class="btn waves-effect waves-light" type="submit" name="action" id="cancelButton">Cancel Reservation
          <i class="material-icons right">delete_sweep</i>
        </button>
      </a>
    </div>
  </div>

  <div class="col l9 z-depth-5 mainpanel">
    <h2>On Demand Parking</h2>
    <div id="mainpanel-content">
      <div id="mapWrapper" style="width:100%;height:500px;">mapWrapper
        <div id="map" style="width:100%;height:100%;">TARGET DIV FOR MAP</div>
      </div>
      <br>
      <div class="divider"></div>
      <br>


      <div
      <div id="spotListingWrapper">

        <div id="parkingSpotList">
          <ul>
            {{#each dbParkingspot}} 
              <br>
              <li>
                <p>{{this.id}}. {{this.parking_name}}</p>
                <button type="spotListButton" parkingID={{this.id}} spotLat={{this.lat}} spotLng={{this.lng}}>Reserve Spot</button>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

